@import url('./fonts.css');



body{
  
  background:
    url("../pictures/background-home-top.png") top left no-repeat fixed,
    url("../pictures/background-home-bottom.png") bottom right no-repeat fixed,
    linear-gradient(-128deg, #982f33 0, #220a0b 100%) 100% no-repeat fixed;
  color: #fff;
  font-family: Helvetica;
 
}

.wrapper {
  margin: 0 auto;
  max-width:1175px;
}

/* header */

.header {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  width: 100%;
  height: 40px;
  z-index: 3;
  position: relative;
  margin-bottom: 1em;
}

.header li{
	font-family: Fugaz One;
	text-transform: uppercase;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

.header li a{
  display: block;
  padding: 20px 20px;
}

.header li a {
  
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #982f33;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 20px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 690px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 64em = 1024px */

@media (min-width: 64em) {
  .header{
  	overflow: hidden;
  }
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background: none;
  }
  .header li {
  	font-size: 16px;
  	font-family: Fugaz One;
    float: left;
    text-transform:uppercase;
  }
  .header li a {
    padding: 10px 20px;
  }
  .header li .imagebutton {
    padding: 0px;
    margin-right: 5px;
  }
  .header .menu {
    clear: none;
    float: left;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* Home Page Only */

.wrapper-home {
  display: flex;
  align-items: center;
  min-height: 90%;
  min-height: 98vh;
  width: 100%;
}

.table-wrapper-home {
  display: table-cell;
  margin: 0 auto;
}

@keyframes background-change {
  0% {
    opacity: 1;
    background-image: url('https://dev.bingothon.com/pictures/logo.jpg');
    background-size: 100% 100%;
  }

  46% {
    opacity: 1;
    background-image: url('https://dev.bingothon.com/pictures/logo.jpg');
    background-size: 100% 100%;
  }

  48% {
    opacity: 0;
    background-image: url('https://dev.bingothon.com/pictures/logo.jpg');
    background-size: 100% 100%;
  }

  50% {
    opacity: 0;
    background-image: url('https://dev.bingothon.com/pictures/bg-sw-1.png');
    background-size: 100% 100%;
  }

  52% {
    opacity: 1;
    background-image: url('https://dev.bingothon.com/pictures/bg-sw-1.png');
    background-size: 100% 100%;
  }

  96% {
    opacity: 1;
    background-image: url('https://dev.bingothon.com/pictures/bg-sw-1.png');
    background-size: 100% 100%;
  }

  98% {
    opacity: 0;
    background-image: url('https://dev.bingothon.com/pictures/bg-sw-1.png');
    background-size: 100% 100%;
  }

  99% {
    opacity: 0;
    background-image: url('https://dev.bingothon.com/pictures/logo.jpg');
    background-size: 100% 100%;
  }

  100% {
    opacity: 0;
    background-image: url('https://dev.bingothon.com/pictures/logo.jpg');
    background-size: 100% 100%;
  }
}

.center-logo {
  background-size: 100% 100%;
  background-color: white;
  border: 1px solid #fff;
  animation: background-change 20s ease infinite;
}

.tg {
  border-spacing: 10px;
}

.menu-item {
  font-size: 20px;
  font-family: Fugaz One;
  width: 200px;
  height: 200px;
  border: 0 solid black;
  background-color: #1e1e1e;
  color: #d2303f;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0px;
  transition: box-shadow 0.3s linear, letter-spacing 0.3s linear;
}

.menu-item.odd {
  background-color: #d2303f;
  color: #fff;
}

.menu-item:hover {
  box-shadow: 0 0 0 5px #c3c3c3;
  transition: box-shadow 0.3s linear, letter-spacing 0.3s linear;
  margin: 0.5em;
  letter-spacing: 1px;
}

.menu-item a {
  width: 200px;
  height: 180px;
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  color: inherit;
}

.socials-table {
  margin: 0 auto;
}

.socials-table a {
  width: auto;
  height: auto;
}

/* special treatment for smaller (mobile) devices*/
@media screen and (max-width: 650px) {
  body {
    /*matching backgrounds from standard body, scale down top down stripes*/
  	background-size: 50%, 50%, 100%;
  }
  .socials-table tr td img {
    width: auto;
    height: 32px;
  }

  .menu-item {
    font-size: 8px;
    width: 80px;
    height: 80px;
    border: 0 solid black;
    background-color: #1e1e1e;
    color: #d2303f;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0px;
    transition: box-shadow 0.3s linear, letter-spacing 0.3s linear;
  }

  .menu-item a {
    width: 80px;
    height: 75px;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    color: inherit;
  }

  .socials-table a {
    width: auto;
    height: auto;
  }
}

a {
  color: white;
  font-style: normal;
  text-decoration: solid;
}

/* Top Navigation */

.nav {
  font-family: "Fugaz One";
  width: 100%;
  max-width: auto;
  background-color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 8px;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav ul li {
  display: inline-block;
  margin-right: 20px;
  width: auto;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
}

.home-button {
  width: 40px;
  height: 40px;
}

/* Schedule */

.schedule{
  margin: 0 auto;
}

/* What is Bingothon? */

.img-vertical-align {
    padding: 70px 0;
    margin: 0 auto;
}

.dwb-wrapper {
  max-width: 1175px;
  margin: 0 auto;
}
.dwb-wrapper img{
  display: block;
  margin-top: 20px;
  width: 400px;
}

.wib-text{
  margin: 0 auto;
  text-align: left;
  margin-top: 10px;
  max-width: 1175px;
}

.title{
  margin: 0 auto;
  text-align: center;
}

h2.title{
  margin-top: 40px;
}

h4.title{
  max-width: 600px;
  width: 100%;
  margin-bottom: 10px;
}

.little-social {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.profilepic {
  width: 60px;
  min-width: 60px;
  height: 60px;
}

.shoutouts {
  max-width: 750px;
  padding: 10px;
  border-collapse:collapse;
  margin: 0 auto;
  margin-top: 10px;
}

.shoutouts tr {
  background-color: rgba(0, 0, 0, 0.3);
}

.shoutouts tr:nth-child(even){
  background-color: rgba(0, 0, 0, 0.2);
}

.shoutouts td{
  vertical-align: top;
  padding: 3px;
}

.shoutouts tr.titlerow {
    background-color: unset;
}
        
/* schedule */

.schedule tr.break td {
            height: 80px;
        }
        .schedule .tablehead{
            text-align: center;
            background-color: rgba(0, 0, 0, 0.5);
            font-weight: bold;
        }
        .schedule tr:nth-child(even) {
            background-color: rgba(0, 0, 0, 0.2);
            height: 60px;
        }
        .schedule tr{
            height: 60px;
            text-align: center;
        }
        .schedule td
        {
            
        }
        
.twitter-timeline {
  float: right;
}

/* helpers */

.vertical-align {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.img-vertical-align{
	vertical-align: middle;
}
.margintop{
	margin-top: 50px;
}

.video-container { position:relative; padding-bottom:56.25%; padding-top:30px; height:0; overflow:hidden; } .video-container iframe, .video-container object, .video-container embed { position:absolute; top:0; left:0; width:100%; height:100%; }

/*
SHELVES
-------

The only responsive, fluid CSS grid with infinitely nestable columns.

Copyright (c) 2012, Pete Browne
*/
@media screen and (max-width: 400px) { @-ms-viewport { width: 320px; } }
img { max-width: 100%; height: auto; }
@media \0screen { img { width: auto; } }

.row { *zoom: 1; margin-right: auto; margin-left: auto; max-width: 1060px; padding-left: 20px; padding-right: 20px; }
.row:before, .row:after { display: table; content: " "; }
.row:after { clear: both; }
.row .row { margin-right: 0; margin-left: 0; max-width: none; padding-right: 0; padding-left: 0; }

.mobile-column-1, .mobile-column-2, .mobile-column-3 { display: block; float: left; min-height: 1px; position: relative; *margin-right: -1px; margin-left: 4.48113%; }

.row .mobile-column-1:first-child, .row .mobile-column-2:first-child, .row .mobile-column-3:first-child, .first-mobile-column { margin-left: 0; }

.mobile-column-1 { width: 21.63915%; }

.mobile-column-2 { width: 47.75943%; }

.mobile-column-3 { width: 73.87972%; }

@media screen and (min-width: 480px) { .tablet-column-1, .tablet-column-2, .tablet-column-3, .tablet-column-4, .tablet-column-5 { display: block; float: left; min-height: 1px; position: relative; *margin-right: -1px; margin-left: 2.83019%; }
  .row .tablet-column-1:first-child, .row .tablet-column-2:first-child, .row .tablet-column-3:first-child, .row .tablet-column-4:first-child, .row .tablet-column-5:first-child, .first-tablet-column { margin-left: 0; }
  .tablet-column-1 { width: 14.30818%; }
  .tablet-column-2 { width: 31.44654%; }
  .tablet-column-3 { width: 48.58491%; }
  .tablet-column-4 { width: 65.72327%; }
  .tablet-column-5 { width: 82.86164%; } }
@media screen and (min-width: 800px) { .column-1, .column-2, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8, .column-9, .column-10, .column-11 { display: block; float: left; min-height: 1px; position: relative; *margin-right: -1px; margin-left: 1.88679%; }
  .row .column-1:first-child, .row .column-2:first-child, .row .column-3:first-child, .row .column-4:first-child, .row .column-5:first-child, .row .column-6:first-child, .row .column-7:first-child, .row .column-8:first-child, .row .column-9:first-child, .row .column-10:first-child, .row .column-11:first-child, .first-column { margin-left: 0; }
  .column-1 { width: 6.60377%; }
  .column-2 { width: 15.09434%; }
  .column-3 { width: 23.58491%; }
  .column-4 { width: 32.07547%; }
  .column-5 { width: 40.56604%; }
  .column-6 { width: 49.0566%; }
  .column-7 { width: 57.54717%; }
  .column-8 { width: 66.03774%; }
  .column-9 { width: 74.5283%; }
  .column-10 { width: 83.01887%; }
  .column-11 { width: 91.50943%; }
  .prefix-1 { padding-left: 8.49057%; }
  .prefix-2 { padding-left: 16.98113%; }
  .prefix-3 { padding-left: 25.4717%; }
  .prefix-4 { padding-left: 33.96226%; }
  .prefix-5 { padding-left: 42.45283%; }
  .prefix-6 { padding-left: 50.9434%; }
  .prefix-7 { padding-left: 59.43396%; }
  .prefix-8 { padding-left: 67.92453%; }
  .prefix-9 { padding-left: 76.41509%; }
  .prefix-10 { padding-left: 84.90566%; }
  .prefix-11 { padding-left: 93.39623%; }
  .suffix-1 { padding-right: 8.49057%; }
  .suffix-2 { padding-right: 16.98113%; }
  .suffix-3 { padding-right: 25.4717%; }
  .suffix-4 { padding-right: 33.96226%; }
  .suffix-5 { padding-right: 42.45283%; }
  .suffix-6 { padding-right: 50.9434%; }
  .suffix-7 { padding-right: 59.43396%; }
  .suffix-8 { padding-right: 67.92453%; }
  .suffix-9 { padding-right: 76.41509%; }
  .suffix-10 { padding-right: 84.90566%; }
  .suffix-11 { padding-right: 93.39623%; }
  .push-1 { left: 8.49057%; }
  .push-2 { left: 16.98113%; }
  .push-3 { left: 25.4717%; }
  .push-4 { left: 33.96226%; }
  .push-5 { left: 42.45283%; }
  .push-6 { left: 50.9434%; }
  .push-7 { left: 59.43396%; }
  .push-8 { left: 67.92453%; }
  .push-9 { left: 76.41509%; }
  .push-10 { left: 84.90566%; }
  .push-11 { left: 93.39623%; }
  .pull-1 { right: 8.49057%; }
  .pull-2 { right: 16.98113%; }
  .pull-3 { right: 25.4717%; }
  .pull-4 { right: 33.96226%; }
  .pull-5 { right: 42.45283%; }
  .pull-6 { right: 50.9434%; }
  .pull-7 { right: 59.43396%; }
  .pull-8 { right: 67.92453%; }
  .pull-9 { right: 76.41509%; }
  .pull-10 { right: 84.90566%; }
  .pull-11 { right: 93.39623%; }
  .column-11 .column-1, .column-11 .column-2, .column-11 .column-3, .column-11 .column-4, .column-11 .column-5, .column-11 .column-6, .column-11 .column-7, .column-11 .column-8, .column-11 .column-9, .column-11 .column-10 { margin-left: 2.06186%; }
  .column-11 .column-1 { width: 7.21649%; }
  .column-11 .column-2 { width: 16.49485%; }
  .column-11 .column-3 { width: 25.7732%; }
  .column-11 .column-4 { width: 35.05155%; }
  .column-11 .column-5 { width: 44.3299%; }
  .column-11 .column-6 { width: 53.60825%; }
  .column-11 .column-7 { width: 62.8866%; }
  .column-11 .column-8 { width: 72.16495%; }
  .column-11 .column-9 { width: 81.4433%; }
  .column-11 .column-10 { width: 90.72165%; }
  .column-10 .column-1, .column-10 .column-2, .column-10 .column-3, .column-10 .column-4, .column-10 .column-5, .column-10 .column-6, .column-10 .column-7, .column-10 .column-8, .column-10 .column-9 { margin-left: 2.27273%; }
  .column-10 .column-1 { width: 7.95455%; }
  .column-10 .column-2 { width: 18.18182%; }
  .column-10 .column-3 { width: 28.40909%; }
  .column-10 .column-4 { width: 38.63636%; }
  .column-10 .column-5 { width: 48.86364%; }
  .column-10 .column-6 { width: 59.09091%; }
  .column-10 .column-7 { width: 69.31818%; }
  .column-10 .column-8 { width: 79.54545%; }
  .column-10 .column-9 { width: 89.77273%; }
  .column-9 .column-1, .column-9 .column-2, .column-9 .column-3, .column-9 .column-4, .column-9 .column-5, .column-9 .column-6, .column-9 .column-7, .column-9 .column-8 { margin-left: 2.53165%; }
  .column-9 .column-1 { width: 8.86076%; }
  .column-9 .column-2 { width: 20.25316%; }
  .column-9 .column-3 { width: 31.64557%; }
  .column-9 .column-4 { width: 43.03797%; }
  .column-9 .column-5 { width: 54.43038%; }
  .column-9 .column-6 { width: 65.82278%; }
  .column-9 .column-7 { width: 77.21519%; }
  .column-9 .column-8 { width: 88.60759%; }
  .column-8 .column-1, .column-8 .column-2, .column-8 .column-3, .column-8 .column-4, .column-8 .column-5, .column-8 .column-6, .column-8 .column-7 { margin-left: 2.85714%; }
  .column-8 .column-1 { width: 10%; }
  .column-8 .column-2 { width: 22.85714%; }
  .column-8 .column-3 { width: 35.71429%; }
  .column-8 .column-4 { width: 48.57143%; }
  .column-8 .column-5 { width: 61.42857%; }
  .column-8 .column-6 { width: 74.28571%; }
  .column-8 .column-7 { width: 87.14286%; }
  .column-7 .column-1, .column-7 .column-2, .column-7 .column-3, .column-7 .column-4, .column-7 .column-5, .column-7 .column-6 { margin-left: 3.27869%; }
  .column-7 .column-1 { width: 11.47541%; }
  .column-7 .column-2 { width: 26.22951%; }
  .column-7 .column-3 { width: 40.98361%; }
  .column-7 .column-4 { width: 55.7377%; }
  .column-7 .column-5 { width: 70.4918%; }
  .column-7 .column-6 { width: 85.2459%; }
  .column-6 .column-1, .column-6 .column-2, .column-6 .column-3, .column-6 .column-4, .column-6 .column-5 { margin-left: 3.84615%; }
  .column-6 .column-1 { width: 13.46154%; }
  .column-6 .column-2 { width: 30.76923%; }
  .column-6 .column-3 { width: 48.07692%; }
  .column-6 .column-4 { width: 65.38462%; }
  .column-6 .column-5 { width: 82.69231%; }
  .column-5 .column-1, .column-5 .column-2, .column-5 .column-3, .column-5 .column-4 { margin-left: 4.65116%; }
  .column-5 .column-1 { width: 16.27907%; }
  .column-5 .column-2 { width: 37.2093%; }
  .column-5 .column-3 { width: 58.13953%; }
  .column-5 .column-4 { width: 79.06977%; }
  .column-4 .column-1, .column-4 .column-2, .column-4 .column-3 { margin-left: 5.88235%; }
  .column-4 .column-1 { width: 20.58824%; }
  .column-4 .column-2 { width: 47.05882%; }
  .column-4 .column-3 { width: 73.52941%; }
  .column-3 .column-1, .column-3 .column-2 { margin-left: 8%; }
  .column-3 .column-1 { width: 28%; }
  .column-3 .column-2 { width: 64%; }
  .column-2 .column-1 { margin-left: 12.5%; }
  .column-2 .column-1 { width: 43.75%; } }
.row .center-column { float: none; margin-left: auto !important; margin-right: auto; }

@media screen and (max-width: 479px) { .hidden-mobile, .visible-tablet, .visible-desktop { display: none !important; } }
@media screen and (min-width: 480px) and (max-width: 799px) { .visible-mobile, .hidden-tablet, .visible-desktop { display: none !important; } }
@media screen and (min-width: 800px) { .visible-mobile, .visible-tablet, .hidden-desktop { display: none !important; } }